.sub {
    background-color: rgb(204, 0, 0);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.2s;
    vertical-align: top;
}

.sub:hover {
    opacity: 0.8;
}

.sub:active {
    opacity: 0.4;
}

.tweet {
    background-color: white;
    border-color: dodgerblue;
    border-style: solid;
    border-width: 1px;
    color: dodgerblue;
    border-radius: 2px;
    padding: 9px 16px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s, color 0.15s, opacity 0.1s;
    vertical-align: top;
}

.tweet:hover {
    background-color: dodgerblue;
    color: white;
}

.tweet:active {
    opacity: 0.7;
}

.tweet {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 9px 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.atc button {
    background-color: rgb(2, 115, 2);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 7px 16px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 7px;
    vertical-align: top;
    transition: padding 0.1s, margin 0.1s;
}

.atc button:hover {
    padding: 7px 20px;
    margin: 0 3px;
}