@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 72px;
        z-index: 101;
    }

    .link {
        height: 74px;
        display: flex;
        font-size: 10px;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
}
@media (min-width: 1201px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 200px;
        margin-right: 128px;
        z-index: 101;
    }

    .link {
        height: 40px;
        display: flex;
        font-size: 10px;
        flex-direction: row;
        justify-content: left;
        gap: 5px;
        align-items: center;
        padding-left: 20px;
    }

    .linktext {
        font-size: 12px;
        padding-left: 10px;
    }

    body {
        padding-left: 225px;
    }
}


.link:hover {
    background-color: #ececec;
    cursor: pointer;
}

.link img {
    height: 24px;
}