.thumbnail {
    width: 100%;
}

.title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}

.info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic {
    width: 36px;
    border-radius: 25px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.author, .stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.author {
    margin-bottom: 4px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 2px;
}

.pic {
    display: inline-block;
    position: relative;
}

.pic .tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 102;

    background-color: white;
    box-shadow: 0 0 8px gray;
    border-radius: 10px;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.pic:hover .tooltip {
    opacity: 1;
}

.pic .tooltip .pfp {
    width: 55px;
    border-radius: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 4px;
}

.text .name {
    font-weight: bold;
    font-size: 18px;
}